@import url('https://code.highcharts.com/css/highcharts.css');

.highcharts-root {
}

.highcharts-container {
  /* this comment can be used in the future. 
  @apply h-100 !important; 
  */
}

.highcharts-background {
  fill: #FFF;
  stroke:#FFF !important
 }

.highcharts-button-box {
  fill: #FFF;
}

.dat {
  .highcharts-background {
    fill: #FFF;
  }
}