.tablePropertyContainer {
  @apply xl:mx-5 lg:mx-5;
}

.tablePropertyContent {
  @apply bg-white rounded-[15px] shadow-xl px-5 py-2;
}

.tableHeader {
  @apply flex flex-row justify-between items-center;
}

.pageTitle {
  @apply flex flex-col;
}

.title {
  @apply text-[24px] font-bold font-archivo text-primary;
}

.subTitle {
  @apply font-semibold text-base;
}

.coverBtn {
  @apply flex flex-row items-center;
}

.iconBtn {
  @apply text-base mr-2 font-normal text-white;
}

.addBtn {
  @apply text-base hover:bg-darkBlue bg-orangeBtn;
}

.tableSideBar {
  @apply flex flex-row justify-between mt-8;
}

.tableSelect {
  @apply flex flex-row 
  xl:gap-6
  lg:gap-3;
}

.tableSearch {
}
.input {
  @apply focus:border-primary
  xl:w-75
  lg:w-40;
}

.elementSelect {
  @apply focus:border-primary
  xl:w-full
  lg:w-36;
}
.iconSearch {
  @apply w-full leading-[36px] cursor-pointer py-[8px] h-full text-white rounded-[2px]
  hover:bg-darkBlue bg-orangeBtn;
}

.tableContent {
  @apply h-150 mt-10;
}

.propertyNameCover {
  @apply flex flex-row gap-2 items-center;
}

.propertyName {
  @apply text-black text-[17px] font-archivo font-[500] min-w-[260px] max-w-[380px] text-start cursor-pointer
  truncate;
  // xl:text-balance xl:w-full xl:text-ellipsis
  // lg:text-balance lg:w-[300px] lg:text-start lg:pl-[8px] lg:text-ellipsis
}
.thName {
  @apply w-100 cursor-pointer;
}

.propertyImage {
  @apply min-w-[40px] w-10 h-10;
}

.propertyPrice {
}

.thPrice {
  @apply max-w-[200px] min-w-25 flex flex-row items-center gap-2;
}
.propertyActions {
  @apply flex flex-row items-center justify-start gap-4 h-full;
}

.actionIcon {
  @apply text-[20px] cursor-pointer;
}

.editIcon {
  @apply text-orangeBtn;
}

.deleteIcon {
  @apply text-red;
}

.titleTable {
  @apply text-base;
}

.detailContentTable {
  @apply text-base;
}

.headerModal {
  @apply bg-second;
}
.contentModal {
  @apply bg-second;
}

.bodyModal {
  @apply px-10 py-5;
}

.titleModal {
  @apply text-[20px] font-bold font-archivo;
}

.enable {
  @apply text-base bg-darkBlue hover:bg-orangeBtn min-w-25;
}

.disable {
  @apply text-base text-black bg-slate-300 cursor-default min-w-25;
}
