.ContactContainer {
  @apply bg-second font-archivo rounded-[20px]
    lg:w-[360px] lg:px-[40px]
    mobile:px-[40px];
}

.ContactContent {
  @apply flex flex-col items-center border-none py-[24px];
}

.ContactPriceProperty {
  @apply font-[500]
    lg:text-[48px]
    mobile:text-[30px];
}

.ContactText {
  @apply text-[12px] font-[500] tracking-[8px] mb-[20px] text-center;
}

.ContactInputContainer {
  @apply w-full flex flex-col justify-between justify-center;
}

.ContactInputRow {
  @apply mt-[16px];
}

.ContactInput {
  @apply border-[1px] border-none;
}

.ContactSubmit {
  @apply flex justify-center my-[20px] items-center;
}

.ContactInfoSeller {
  @apply flex flex-col justify-center items-center font-archivo;
}

.ContactAvatar {
  @apply mb-[12px] text-center;
}

.ContactInfoDetail {
  @apply flex flex-col items-center;
}

.ContactNameSeller {
  @apply text-[24px] font-[500];
}

.ContactPhoneEmail {
  @apply flex flex-row items-center text-[16px] pt-[8px];
}

.ContactTextSeller {
  @apply pl-[8px];
}

.rootTextArea {
  @apply focus:border-primary;
}

.btnSendSeller {
  @apply bg-primary;
}
