.container {
  @apply w-full justify-between pt-[40px]
     lg:flex  lg:flex-row 
    mobile:flex mobile:flex-col;
}

.containerDesc {
  @apply w-full bg-second rounded-[20px] 
  lg:py-0
  mobile:py-[20px];
}

.containerContact {
  @apply lg:pl-[20px] lg:py-0
     mobile:py-[20px];
}

.outer {
  @apply md:mt-20 mt-16 xl:px-[120px] md:px-[100px] px-[30px] mobile:pt-[20px] md:pt-[40px];
}
